body {
    margin:0;
    padding:0;
    font-size:100%;
    background-color: lightgray;
}
footer {
    text-align: center;
}
form {
    flex:1;
    border:solid 1px;
}
input[type=search]:focus {
    width:300px;
}
.bigPicture {
    width:25vw;
}
.bigScreen {
    display:none;
}
.box {
    flex:1;
}
.card {
    /* flex:1; */
    /* margin-top:4vw; */
    /* padding:5vw; */
    background-color: #FAFAFA;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.2), 0px 4px 3px 0 rgba(0, 0, 0, 0.19);
}
.containerColumn {
    flex:1;
    display: flex;
    flex-direction:column;
}
.containerRow {
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}
.flexColumn {
    display:flex;
    flex-direction:column;
}
.flexRow {
    display:flex;
    flex-direction:row;
}
.logo {
    width:15vmin;
    margin:0 5vw;
    border-radius:5%;
}
.picture {
    flex:2;
    display:flex;
    justify-content:center;
}
.smallText {
    width:35vw;
    font-size:6vw;
    margin-left:5vw;
}
.smallPicture {
    width:20vw;
}
.text {
    display:block;
}
.tinyPicture {
    width:8vw;
    height:8vw;
}
.wi {
    margin-top:5px;
    font-size:20px;
}
#city {
    flex:1;
}
#controlBar {
    min-height:8vh;
    text-align: left;
    background-color:magenta;
}
#endWeek {
    margin-top:4vw;
    padding-left:0;
}
#fond {
    min-height:90vh;
}
#title {
    flex:1;
    font-size:3vh;
    border:solid 1px;
}
#titleBox {
    flex:2;
}
#search, #mesure {
    border:solid 1px;
}
#search > div, #mesure > div {
    border:solid 1px;
    flex:1;
}
#tomorrow {
    flex:2;
}

/* flip card */
.f1_container {
    position: relative;
    /* width: 100vw; */
    height: 150vw;
    margin-top:4vw;
    z-index: 1;
    perspective: 1000px;
    border:solid green;
}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  border:solid 1px red;
}
.f1_container:hover .f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
}
/* ============================================================ */

@media all and (min-device-width:500px) {
    
    #title {
        flex:2;
        font-size:3vw;
    }	
		
    #fond {
        flex-direction:row;
        justify-content:space-around;
    }
    
    .card {
        border-radius: 5px;
        /* margin:1vw; */
        box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.2), 4px 4px 3px 0 rgba(0, 0, 0, 0.19);
    }

    .bigscreen {
        display:block;
    }

    .text {
        display:block;
    }

    #afterThree {
        flex:1;
        display:flex;
        flex-direction:row;
        justify-content:center;
    }

    #three, #four, #five, #six, #seven {
        flex:1;
        display: flex;
        flex-direction:column;
    }
    
.bigPicture {
    width:5vw;
}

.smallText {
    width:5vw;
    font-size:6vw;
    margin-left:5vw;
}

.smallPicture {
    width:2vw;
}
    
.tinyPicture {
    width:5vw;
}
}
