body {
    margin:0;
    padding:0;
    font-size:100%;
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}
footer {
    text-align: center;
}
h3 {
    display:flex;
    justify-content:space-between;
    font-size:8vw;
    margin:0;
    padding:2vw;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:black;
    background-color:green;
}
h4 {
    font-size:6vw;
    margin:0;
    padding:2vw;
    color:black;
    border-top:solid 1px lightgray;
}
h5 {
    font-size:5vw;
    margin:0 0 2vw 0;
    padding-left:2vw;
}
/* input[type=text], #send, #formulaire { */
    /* display:none; */
/* } */
input[type=text] {
    width:30vw;
}
input[type=radio] {
    display:none;
}
p {
    margin:0;
    padding-left:4vw;
}
.alignCenter {
    align-items:center;
}
.bigPicture {
    width:25vw;
    height:25vw;
}
.bigScreen {
    display:none;
}
.bigTemp {
    flex:1;
    font-size:7vw;
    padding:0;
    margin-bottom:6vw;
}
.blockDatas {
    padding-bottom:2vw;
    margin-left:6vw;
    margin-bottom:2vw;
}
.boite {
    display:flex;
    flex-direction:column;
    min-height:80%;
}
.box {
    flex:1;
}
.boxBack {
    flex:1;
    display:flex;
    flex-direction:row;
    align-items:stretch;
}
.button {
    font-size:15vw;
    width:15vw;
    height:15vw;
    text-align:center;
    margin:2vw 0;
    border:solid 1px;
}
.card {
    display:flex;
    flex-direction:column;
    background-color: #FAFAFA;
    border-radius:5px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.2), 0px 4px 3px 0 rgba(0, 0, 0, 0.19);
}
.cold {
    margin-left:10vw;
}
.containerColumn {
    flex:1;
    display: flex;
    flex-direction:column;
}
.containerRow {
    flex:1;
    display:flex;
}
.day {
    margin-left:5vw;
}
.endWeek {
    margin:5vw 0;
}
.flexColumn {
    display:flex;
    flex-direction:column;
}
.flexRow {
    display:flex;
    flex-direction:row;
}
.hourly {
   font-size:11vw;
   text-align:center;
   color:gray;
}
.logo {
    width:15vmin;
    margin:0 5vw;
    border-radius:5%;
}
.more {
    text-align:right;
    color:#FAFAFA;
}
.picture {
    flex:1.5;
    display:flex;
    justify-content:center;
}
.shadow {
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.2), 4px 4px 3px 0 rgba(0, 0, 0, 0.19);
}
.smallText {
    width:35vw;
    font-size:6vw;
}
.smallPicture {
    width:20vw;
    height:20vw;
}
.smallTemp {
    margin:1vw 0;
    font-size:6vw;
    text-align:center;
}
.subCarte {
    flex-direction:row;
    align-items:center;
    height:80%;
}
.subDay {
    margin-top:2vw;
    align-items:center;
}
.text {
    flex:1;
    margin:0;
    padding:0 2vw;
    font-size:4.5vw;
}
.tinyPicture {
    width:13vw;
    height:13vw;
}
.wi {
    margin-top:2vw;
    margin-right:1vw;
}
#controlBar {
    /* min-height:8vh; */
    text-align: center;
    color:black;
    background-color:red;
}
#endWeek {
    margin:4vw 2vw;
    padding-left:0;
}
#fond {
    min-height:90vh;
}
#mesure, #search {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    border:solid 1px;
}
#title {
    font-size:6vw;
}
#tomorrow {
    flex:2;
}

/* flip card */
.f1_container {
    position: relative;
    height: 160vw;
    margin:4vw 2vw 0vw 2vw;
    z-index: 1;
    perspective: 2000px;
}
.f2_container {
    position: relative;
    height : 75vw;
    margin:4vw 2vw 0vw 2vw;
    z-index: 1;
    perspective: 2000px;
}
.f3_container {
    position: relative;
    height : 20vw;
    z-index: 1;
    perspective: 2000px;
}
.carte {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:auto;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.flipped {
    transform:rotateY(180deg);
}
/* ============================================================ */

@media all and (min-device-width:500px) {
    
    #title {
        flex:2;
        font-size:3vw;
    }	
		
    #fond {
        flex-direction:row;
        justify-content:space-around;
    }
    
    .card {
        border-radius: 5px;
        /* margin:1vw; */
        box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.2), 4px 4px 3px 0 rgba(0, 0, 0, 0.19);
    }

    .bigscreen {
        display:block;
    }

    .text {
        display:block;
    }

    #afterThree {
        flex:1;
        display:flex;
        flex-direction:row;
        justify-content:center;
    }

    #three, #four, #five, #six, #seven {
        flex:1;
        display: flex;
        flex-direction:column;
    }
    
.bigPicture {
    width:5vw;
}

.smallText {
    width:5vw;
    font-size:6vw;
    margin-left:5vw;
}

.smallPicture {
    width:2vw;
}
    
.tinyPicture {
    width:5vw;
}
}
